<div id="container-1" style="width:100%; height:400px;"></div>
<div id="container-2" style="width:100%; height:400px;"></div>

<ul>
  <% @artists.each do |artist| %>
    <li><%= artist.name %>-<%= artist.votes.count %></li>
  <% end %>
</ul>
